result
*.qcow2

# mdBook output
docs/book/
secrets/vm_host_key
secrets/vm_host_key.pub
secrets/turbine_host_key
secrets/turbine_host_key.pub
secrets/capacitor_host_key
secrets/capacitor_host_key.pub
secrets/powerhouse_host_key
secrets/powerhouse_host_key.pub
secrets/battery_host_key
secrets/battery_host_key.pub
